<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Segoe+UI&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sans+Serif+Collection&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
    <title>Register</title>
</head>
<body>
    <div class="v1_16">
        <div class="v1_36"></div>
        <div class="v1_39"></div>
        <div class="v1_38"></div>
        <span class="v1_55">Hello There!</span>
        <span class="v1_63">Nama lengkap</span>
        <span class="v1_64">Email</span>
        <span class="v1_65">Password</span>
        <div class="v1_57"></div>
        <div class="v1_66"></div>
        <div class="v1_67"></div>
        <div class="v1_68"></div>
        <span class="v1_69">REGISTER</span>
    </div>
</body>
</html>
